/* Custom Fonts */
/* @font-face {
  font-family: Centra;
  src: url();
} */

/* Default CSS */
/************ Custom Font ************/
/* @font-face {
	font-family:  Copperplate, "Copperplate Gothic Light", fantasy;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
} */



.bg::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#e64ea6, #9733EE);
	clip-path: circle(20% at right 70%);
  z-index: -1;
}

.bg::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#fa5b8e, #b647f7);
	clip-path: circle(20% at 10% 10%);
  z-index: -1;
} 


/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .bg::before {
      clip-path: circle(25% at left top);
  }
  .bg::after {
      clip-path: circle(15% at right bottom);
  }
}

/* Media Query for even smaller screens */
@media screen and (max-width: 480px) {
  .bg::before {
      clip-path: circle(20% at left top);
  }
  .bg::after {
      clip-path: circle(10% at right bottom);
  }
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  font-family:Copperplate, "Copperplate Gothic Light", fantasy;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}
/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
  backdrop-filter: blur(10px);
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}
nav.navbar a.navbar-brand {
    width: 20%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 600;
  color: #fff !important;
  letter-spacing: 0.1px;
  padding: 0 20px;
  font-size: 16px;
  opacity: 0.75;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icon {
    display: flex;
    margin-left: 14px;
    
}
.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
    
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
  
}
.social-icon a:hover::before {
    transform: scale(1);
   
}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 50px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.navbar-toggle-icon{
  /* border: 1px solid white; */
  background:transparent;
  border: 1px solid transparent;

}

.navbar-brand img{
  filter: drop-shadow(7px 7px 4px rgb(0, 0, 0));
}





/************ Banner Css ************/
.banner {
  margin-top: 0;
  padding: 170px 0 100px 0;/* 260px */
  /* background-image: url('./assets/img/banner-bg.png'); */
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  font-family:Copperplate, "Copperplate Gothic Light", fantasy;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
   margin-bottom: 10px; 
  display: block; 
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}
.banner h2 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 1;
  margin-bottom: 10px; 
  display: block; 
 
  font-family:  Copperplate, "Copperplate Gothic Light", fantasy;
}
.banner p {
  color:white;
  font-size: 15px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%; 
  font-family: serif;
}

.banner a{
  border: 2px solid rgb(139,0,0);
  color: rgb(139,0,0);
  border-radius: 20px;
  font-size: medium;
  font-weight: bolder;
 
}
.banner a:hover{
  border: 2px solid rgb(139,0,0);
  background-color: rgb(139,0,0);
}

.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  animation: updown 3s linear infinite;
  border-radius: 50%;
  /* background: linear-gradient(#e64ea6, #9733EE);
  border: 8px solid white; */
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
 
}

.wrap{
  color:rgb(139,0,0);
}

/* .profilephoto{
  box-shadow: 0 1rem 2rem hsla(320, 54%, 61%, 0.925);
} */


.blob {
  position: absolute;
  opacity: 0.5;
  width: 400px;
  aspect-ratio: 1/1;
  animation: animate 10s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite
    alternate forwards;
  filter: blur(40px);
  z-index: -1;
  background: linear-gradient(
    47deg,
    rgba(255, 88, 139, 1) 21%,
    rgb(0 164 173) 67%,
    rgba(118, 74, 166, 1) 81%
  );

  /*  Optional  */
  /*   box-shadow: inset 50px 50px 17px 0px #ff588b,
    inset 100px 100px 17px 0px #66319f; */
}

@keyframes animate {
  0% {
    translate: 40% -25%;
    border-radius: 60% 40% 30% 70% / 100% 85% 92% 74%;
  }
  50% {
    translate: 0% 13%;
    border-radius: 20% 71% 47% 70% / 81% 15% 22% 54%;
    rotate: 41deg;
    scale: 1.15;
  }
  100% {
    translate: -45% 39%;
    border-radius: 100% 75% 92% 74% / 60% 80% 30% 70%;
    rotate: -60deg;
    scale: 1.05;
  }
}









/** Skills Section CSS **/





#counter {    
  /* background-color: #212F3D; */
  color: #fff;
  display: flex;
  overflow: visible;
  text-align: center;
  padding:  0;
  justify-content: space-between;
  flex-direction: column;
  
 
}
#counter .count {
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  text-align: center;
  backdrop-filter: blur(10px);
  height: 150px;
  width: 150px;
 

  
  
}
.count img {
  height: 100px;
  width: 100px;
  padding: 10px;
}
.count h4 {
  color: #fff;
font-size: 16px;
margin-top: 0;
}
#counter .count .fa {
  font-size: 40px;
  display: block;
  color: #fff;
}
#counter .number {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  
}

@media (max-width: 768px) {
  #counter .count {
     width: 100px;
     height: 100px;
     display: flexbox;
  }
  #counter .count img{
    width: 50px;
    height: 50px;
   
  }
  #counter .count h4{
    font-size: 10px;
  }

  #counter .inner-div{
    width: 100px;
    height: 100px;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
  }

  #counter .row{
      
    flex-shrink: 0;
    /* width: 54%;
    max-width: 100%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
  }
  #counter .container .row{
    margin: 0;
   
  }
  #counter .container{
    width: 100%;
    display: flex;
    padding: 10px;
    flex-direction: row;
  }
  .skill-fix h2{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    text-wrap: wrap;
  }
  .skill .skill-fix h2{

    font-size: 30px;
  }
  .skill .skill-fix p{

    font-size: 15px;
  }
  #skills .skill-bx h2{

    font-size: 30px;
  }
  #skills .skill-bx p{

    font-size: 15px;
  }
  .f-container {
    font-size: 10px;
  }
 
}



.skill-fix{
  background: #151515;
  border-radius: 64px;
  text-align: center;
  padding: 60px 35px;
  margin-top: -60px;
  border: 0;
  /* box-shadow: 2px 2px 6px ; */
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 0 1rem 2rem hsla(320, 54%, 61%, 0.925);
 background: transparent;
 display: flex;
 flex-wrap: wrap;
}











/* Projects CSS */
.skill {
  padding: 0 0 50px 0;
  position: relative;
  margin-top: 10%;
 
.skill-bx {
  background: #151515;
  border-radius: 64px;
  text-align: center;
  padding: 60px 20px;
  margin-top: -60px;
  border: 0;
  /* box-shadow: 2px 2px 6px ; */
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 0 1rem 2rem hsla(320, 54%, 61%, 0.925);
 background: transparent;
}
}
.skill h2 {
	font-size: 45px;
	font-weight: 700;
  width: 100%;
}
.skill p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
    width: 100%;
    text-align: center;
}
.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item img {
  width: 80%;
  margin: 0 auto 15px auto;
}
.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

.skill .container .count img{
  filter: drop-shadow(15px 8px 8px rgb(0, 0, 0));
}


.custom-modal .modal-content {
  background-color: #121212; /* Change this color as needed #222324*/
 
}

.modal-img{
  height: 300px;
  width: 300px;
  padding: 8px;
} 
.modal-body{
  display: flex;
}
.modal-body h6{
  line-height: 1.5;
  word-spacing: 4px;
  padding: 15px;
}
.social-icon a .github {
	width: 80%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.s-margin{
  margin: 10px;
}

@media (max-width: 768px) {
  .modal-body{
    display: block;
  
   opacity: 0.8;
  }
  .modal-body h6{
    line-height: 1.3;
    word-spacing: 3px;
    padding: 10px;
  }
  .custom-modal .modal-content {
    background-color: #121212; /* Change this color as needed */
   
  }
}








/************ Contact Css ************/
.contact {
  /* background: linear-gradient(90.21deg, #AA367C -5.91%, #a12fbd 111.58%); */
  padding: 60px 0 200px 0;
  margin-top: 80px;
  
}
.contact img {
  width: 92%;
  backdrop-filter: blur(10px);
}
.contact h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
  backdrop-filter: blur(10px);
}
.contact form input, .contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
  backdrop-filter: blur(10px);
}
.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
  backdrop-filter: blur(10px);
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #fff;
  background-color: transparent;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  border: 1px solid white;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #fff;
  background-color: #fff;
  transition: 0.3s ease-in-out;
}
.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}

/* img{
  filter: drop-shadow(15px 5px 5px gray);
} */

/* Footer CSS */
.f-container{
 padding: 18px;
  /* padding: 18px 0; */
margin-top: -150px;
  position: relative;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
  backdrop-filter: blur(10px);
  background-color: black;
  opacity: 0.8;
  /* padding-left: 10px;
  padding-right: 10px; */
text-align: center;
align-items: center;
}
.f-container .logo{
  width: 100%;
  align-items: center;
  padding: 5px;

}
.f-container .logo img{
  width: 20%;
 
}

.f-container .social-icon-list .f-social-icon{
  align-items: center;
  width: 100%;
}
.f-container .social-icon-list{
  width: 100%;
  padding: 15px;
  align-items: center;
}
.f-container .linklist a{
  text-decoration: none;
  color: white;
}
.f-container .linklist a:hover{
  color: #807e7e;
}
.f-container .social-icon-list .f-social-icon{
  display: flex;
  align-items: center;
  justify-content: center;
 
  
}
.f-container .social-icon-list .f-social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
  
}
.f-container .social-icon-list .f-social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;

}
.f-container .social-icon-list .f-social-icon a:hover::before {
  transform: scale(1);
 
}
.f-container .social-icon-list .f-social-icon a img {
width: 40%;
z-index: 1;
transition: 0.3s ease-in-out;
}
.f-container .social-icon-list .f-social-icon a:hover img {
  
filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}